html {
    overflow-y: scroll;
}

body {
	font-family: Tahoma, Verdana, Arial;
	color: black;
	margin: 0;
	height: 100%;
}

.clear { clear: both; }

/** LOGIN
***********************************************************************/
#page {
	width: 440px;
	margin: 100px auto 0;
	font-size: 0.8em;
}

#login-page {
    clear: both;
	width: 400px;
	padding: 20px;
	background: #f1f3f5;
	border: 1px solid #cccccc;
}
	#login-page h1{
		color: #96be2a;
		margin: 10px 0 0 0;
		font-size: 1.7em;
	}
	
	#login-page #login-text {
		width: 160px;
		font-size: 0.9em;
		text-align: center;
	}
		#login-page #login-text p {
			text-align: left;
		}
		
	#login-page #login-form {
		float: right;
		width: 220px;
	}
		#login-page #login-form p {
			margin: 0 0 10px 0;
		}
		#login-page #login-form p.bouton {
			text-align: center;
		}
		#login-page #login-form form {
			border: 1px solid #cccccc;
			background: #e9ecef;
			padding: 10px;
		}
		#login-page #login-form label {
			font-weight: bold;
			font-size: 0.8em;
			display: block;
		}
		#login-page #login-form input {
			border: 1px solid #cccccc;
			border-left: 2px solid #cccccc;
			width: 100%;
		}
		#login-page #login-form input.bouton {
			border: 1px solid #cccccc;
			background: #e9ecef;
			color: #666666;
			font-weight: bold;
			font-size: 0.9em;
			width: auto;
		}
		
		/** MESSAGE
		***********************************************************************/
		#login-message {
		    float: left;
			width: 400px;
			margin: 0 0 40px 0;
			padding: 20px;
		    background-position: 5px 0;
		    background-repeat: no-repeat;
		    padding: 7px 0 0 45px;
		    background-color: white;
		    text-align: left;
		}
		    html>body #login-message {
		        height: auto;
		        min-height: 30px;
		    }
		        #login-message a {
		            text-decoration: none;
		            font-weight: bold;
		        }
		        #login-message a:hover {
		            text-decoration: underline;
		        }
		    
		    #login-message.erreur {
		        color: red;
		        background-image: url('../_images/erreur.png');
		    }
		        #login-message.erreur a { color: red; }
		    
		    #login-message.avert {
		        color: rgb(236, 118, 0);
		        background-image: url('../_images/avert.png');
		    }
		        #login-message.avert a { color: rgb(236, 118, 0); }
		    
		    #login-message.info {
		        color: blue;
		        background-image: url('../_images/info.png');
		    }
		        #login-message.info a { color: blue; }
